@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    font-family: 'Anton', sans-serif;
}

.titulo {
    color: rgb(92, 92, 92);
    width: 145px;
    height: 50px;
    background-color: #ffe700;
    border-radius: 15px;
    padding: 50px;
    font-size: 38px;
}

h2 {
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: #45474B;
    color:#ffffff
}
#SELECCIONAR-MASCOTA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5CD2E6;
}

.t{
    display: flex;
}
 

.targeta-de-mokepon {
    width: 200px;
    height: 110px;
    color: #45474B;
    background: #ffe700;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px;
    display: flex;
}
.targeta-de-mokepon img {
    width: 65px;
    height: 85px;
    margin: 10px;
}

#boton-mascota{
    color: #ffffff;
    width: 500px;
    height: 50px;
    background-color:#495E57;
    border-radius: 15px;
    margin: 40px;
    font-family: 'Anton', sans-serif;
}


input {
    display: none;
    padding: 10px;
    width: 10px;
    height: 30px;
}


p {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SELECCIONAR-ATAQUE{
    flex-direction: column;
    align-items: center;
    background-color: #5CD2E6;
    justify-content: center;
}
.boton-de-ataque{
    color: #ffffff;
    width: 300px;
    height: 50px;
    background-color:#495E57;
    border-radius: 15px;
    margin: 40px;
    font-family: 'Anton', sans-serif;
}

.boton-de-reiniciar{
    color: #ffffff;
    width: 300px;
    height: 50px;
    background-color:#495E57;
    border-radius: 15px;
    margin: 40px;
    font-family: 'Anton', sans-serif;
}